<h1>Editing account</h1>

<%= render 'form' %>
<p>
  <%= @account.id %>
</p>

<%= link_to 'Add Domain', new_domain_path(@account)%>

<%= link_to 'Show', @account %> |
<%= link_to 'Back', accounts_path %>
